<mat-drawer-container class="example-container">
  <mat-drawer class="customSideNavContainer" mode="side" *ngIf="currentUrl!='/' && currentUrl!='/login'" opened>
    <ul class="sidenav">
        <li class="nav-item">  <a class="nav-link" routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon><span class="sideMenuItem">Home</span>  </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/StudentRegistartion" routerLinkActive="active"><mat-icon>school</mat-icon><span class="sideMenuItem">Student Registration</span> </a> </li>
        

     
      </ul>
  </mat-drawer>
  <div class="full-height">
  <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
