
   <mat-card class="card-bg-default matcardlayout">
            <div class="row">
                <div class="col-8">
                    <input class="input-width" [(ngModel)]="Phone" (keyup)="_keyUp($event)" type="text" class="form-control"
                        placeholder="Enter Mobile Number">
                </div>
                <div class="col-4">
                    <button class="btn btn-success" (click)="verifyCustomer()" style="width: 7rem" type="button">Go</button>
                </div>
            </div>
        </mat-card>


<mat-card class="card-bg-default matcardlayout">
            <h5 class="card-title">Place Order</h5>
            <div class="row">
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Customer Name:-</label>
                        <label for="name">{{customerdata.FirstName}} {{customerdata.LastName}}</label>

                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Phone:-</label>
                        <label for="name">{{customerdata.Phone}}</label>

                    </div>
                </div>
       
            </div>
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <div class="row">
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label for="name">Brick Type</label>
                            <select class="form-control" id="BrickType" required [(ngModel)]="customerorder.BrickType" name="BrickType" #BrickType="ngModel">
                                    <option *ngFor="let pow of bricktypearray" [value]="pow">{{pow}}</option>
                                </select>
  
                            <div [hidden]="BrickType.valid || BrickType.pristine" class="alert alert-danger">
                                Brick Type is required
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label for="name">Brick Quantity</label>
                            <input type="text" class="form-control" id="BricksQTY" (keyup)="totalpriceCal($event)" required [(ngModel)]="customerorder.BricksQTY"
                                name="BricksQTY" #BricksQTY="ngModel">
                            <div [hidden]="BricksQTY.valid || BricksQTY.pristine" class="alert alert-danger">
                                Brick Quantity is required
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label for="name">Price Per Brick</label>
                            <input type="text" class="form-control" id="PricePerBrick" (keyup)="totalpriceCal($event)" required [(ngModel)]="customerorder.PricePerBrick"
                                name="PricePerBrick" #PricePerBrick="ngModel">
                            <div [hidden]="PricePerBrick.valid || PricePerBrick.pristine" class="alert alert-danger">
                                PricePerBrick is required
                            </div>
                        </div>
                    </div>
                </div>


                <!--second form row-================================================-->

                <div class="row">
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label for="name">Total Amount</label>
                            <input type="text" class="form-control" id="TotalAmount" required [(ngModel)]="customerorder.TotalAmount"
                                name="TotalAmount" #TotalAmount="ngModel">
                            <div [hidden]="TotalAmount.valid || TotalAmount.pristine" class="alert alert-danger">
                                TotalAmount is required
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label for="name">PaidAmount</label>
                            <input type="text" class="form-control" id="PaidAmount" (keyup)="PendingCal($event)" required [(ngModel)]="customerorder.PaidAmount"
                                name="PaidAmount" #PaidAmount="ngModel">
                            <div [hidden]="PaidAmount.valid || PaidAmount.pristine" class="alert alert-danger">
                                PaidAmount is required
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label for="name">Pending Amount</label>
                            <input type="text" class="form-control" id="PendingAmount" required [(ngModel)]="customerorder.PendingAmount"
                                name="PendingAmount" #PendingAmount="ngModel">
                            <div [hidden]="PendingAmount.valid || PendingAmount.pristine" class="alert alert-danger">
                                PendingAmount is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class='col-xs-12 col-sm-4'>
                                <div class="form-group">
                                    <label for="name">Payment Due Date</label>
                                    <input type="text" class="form-control" id="PaymentDueDate" required [(ngModel)]="customerorder.PaymentDueDate"
                                        name="PaymentDueDate" #PaymentDueDate="ngModel">
                                    <div [hidden]="PaymentDueDate.valid || PaymentDueDate.pristine" class="alert alert-danger">
                                            Payment Due Date is required
                                    </div>
                                </div>
                            </div>
                </div>
                <!-- <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="customerorder.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="customerorder.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div> -->

                <!-- <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" id="alterEgo" [(ngModel)]="customerorder.alterEgo" name="alterEgo">
        </div> -->

                <!-- <div class="form-group">
            <label for="power">Hero Power</label>
            <select class="form-control" id="power" required [(ngModel)]="customerorder.power" name="power" #power="ngModel">
                <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
            <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                Power is required
            </div>
        </div> -->
        <div class="row no-margin">
        
                <button type="submit" class="btn btn-success " [disabled]="!heroForm.form.valid">Submit</button>
               
 
                <button type="button" class="btn btn-info  " (click)="newHero(); heroForm.reset()">Cancel</button>
            </div>
           
   
            </form>
        </mat-card>
