<!-- <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">BricksTrac</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
      <li><a (click)="Logout()">LogOut</a></li>
    </ul>
  </div>
</nav>style="background-color: #ee6e73;" -->
<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ee6e73">
  <a class="navbar-brand" href="#">BricksTrac</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
    </div>
  
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">BricksTrac </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Orders <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Sale">Sale</a>
      </li>
 
   
    </ul>
   
      
  
  </div> -->
  <div class="fullWidth">
      <button class ="btnRightAlign menuBtn" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> <span>UserName</span></button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
</nav>

